@font-face {
  font-family: "font-awesome";
  src: url('/assets/fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
}