doctype html
html
    head
        meta(charset = 'utf-8')
        title weather
        style
            include ../css/bootstrap.min.css
        script(src="https://api-maps.yandex.ru/1.1/index.xml")
    body
        div(id='app')